<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holleworld2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HolleWorld2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".FirstAcitivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".FragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RightFragment"></activity>
        <activity android:name=".RightFragment1"></activity>
        <activity android:name=".LeftFragment"></activity>
<!--        <activity android:name=".NewsContentActivity"></activity>-->
<!--        <activity android:name=".News"></activity>-->
<!--        <activity android:name=".NewsTitleFragment"></activity>-->
<!--        <activity android:name=".NewsContentFragment"></activity>-->
<!--        <activity android:name=".SecondAcitivity"></activity>-->
<!--        <activity android:name=".DialogActivity"></activity>-->
<!--        <activity android:name=".NormalActivity"></activity>-->
<!--        <activity android:name=".MainActivity2">-->
<!--        </activity>-->
    </application>

</manifest>